section.category_banner_2{
  margin-top: 3.75rem;
  margin-bottom:6.25rem;
}
.category_banner_2 figure {
  width:5rem;
  height:6rem;
  float:left;
  padding-right:0.5rem;
  overflow:hidden;
}

.category_banner_2 p {
  margin: 0;
  padding: 0;
  text-indent: 0;
  font-size:0.8rem;
  display: block;
}
.category_banner_2 .title{
  font-weight:bold;
  font-size:1rem;
  text-align: left;
}
.category_banner_2 .date {
  font-size:0.8rem;
  font-style: italic;
  padding-bottom:0.4rem;
}
.category_banner_2 a,
.category_banner_2 a:hover,
.category_banner_2 a:active,
.category_banner_2 a:visited{
  color:#000;
  display:table;
  width:30%;
  text-align:left;
  overflow: hidden;
  float:left;
  margin-right:3%;
}
#category tr {
  min-height:3.75rem;
  vertical-align:top;
}

#category table {
  margin-top: 3rem;
}

td.col_1 {
  width:14.625rem;
}
td.col_2 {
  width:28.75rem;
}
td.col_3 {
  width:16.625rem;
}
