#page_title figure {
  display: none;
}

#page_title h1 {
  font-size: 3.125rem;
}

div .category_banner{
  margin-top: 3.75rem;
  margin-bottom:3.125rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category_banner div {
  margin-bottom: 1.875rem;
}

.category_banner figure {
  float: left;
  width:4.675rem;
  height:100%;
  padding-right:0.5rem;
  overflow:hidden;
}

.category_banner span {
  display: block;
}

.category_banner a {
  color:#000;
  overflow: hidden;
  display: table;
  width: 100%;
}

.category_banner a:hover,
.category_banner a:active,
.category_banner a:visited {
  color:#000;
}

.category_banner p {
  margin: 0;
  padding: 0;
  font-size:0.8rem;
}

.category_banner .date {
  font-style: italic;
  padding-bottom:0.4rem;
  text-align: left;
}

.category_banner .title{
  font-weight:bold;
  font-size:1rem;
  text-align: left;
}

#category tr {
  min-height:3.75rem;
  vertical-align:top;
  border-bottom: solid 1px #CCC;
}

#category table {
  margin-top: 3rem;
  width: 100%;
}

td.col_1 {
  width: 30%;
}
td.col_2 {
  width: 40%;
}
td.col_3 {
  display: none;
}


@media only screen and (min-width:530px){

  #page_title figure {
    display: block;
  }

  #page_title img{
    padding-top: 0.8rem;
    width: 9rem;
  }

  div .category_banner{
    flex-direction: row;
  }

  .category_banner figure {
    float: none;
    margin:auto;
    width: 100%;
    height: auto;
    padding-right: 0;
    padding-bottom: 0.5rem;
  }

  .category_banner .title {
    min-height: 2rem;
  }

  .category_banner .title,
  .category_banner .date {
    text-align: center;
  }

  .category_banner a {
    width: 90%;
    max-width: 270px;
  }

}

@media only screen and (min-width:900px){

  div .category_banner {
    margin-bottom:6.25rem;
  }

  .category_banner figure {
    float: left;
    width:4.675rem;
    padding-right: 0.5rem;
    padding-bottom: 0;
  }

  .category_banner .title,
  .category_banner .date {
    text-align: left;
  }

  .category_banner .title {
    min-height:1rem;
  }

  .date_col {
    display: none;
  }

  td.col_3 {
    display: block;
  }

}
