
#enterprise h3, h4{
  text-align: center;
}

#enterprise h4 a {
  color: #111E14;
}

#enterprise section {
  margin-top:2rem;
}

#enterprise_links h4{
  margin-bottom: 1.875rem;
}

#section_logo figure {
  margin: 1.875rem 0;
}

.partner figure{
  margin-bottom: 4rem;
}

@media only screen and (min-width:650px) {

  #enterprise_links {
    display: flex;
    justify-content:space-between;
  }

  #enterprise_links h4 {
    padding-bottom:0;
  }
}

@media only screen and (min-width:970px) {

  #section_logo figure {
    margin: 0 3rem;
  }

  #section_logo {
    display: flex;
  }
  #section_logo div {
    flex: 1;
  }
}

@media only screen and (min-width:700px) {
  .partner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  .partner figure{
    width:16.875rem;
    order:1;
  }

  .partner figure:nth-child(2),
  .partner figure:nth-child(5) {
    order:2;
  }
}

@media only screen and (min-width:980px) {
  .partner figure:nth-child(2),
  .partner figure:nth-child(5) {
    order:1;
  }
}

@media only screen and (min-width:1100px) {
  .partner figure:nth-child(2),
  .partner figure:nth-child(5) {
    order:2;
  }
}

@media only screen and (min-width:1281px) {
  .partner figure:nth-child(2),
  .partner figure:nth-child(5) {
    order:1;
  }
}
