#courses,
#eletronday {
  margin: 2rem 0;
  width: 100%;
}
#courses li {
  margin-bottom:3.125rem;
  height: 10rem;
  display: table;
}

#courses figure,
#courses img {
  width:7.5rem;
  height:auto;
  float:left;
}
#courses figure {
  margin-right:1.5rem;
}
#courses p {
  margin:0;
}

#eletronday a {
  width:auto;
  display:table;
  text-align:center;
  float:left;
}

#eletronday a h4 {
  margin:1rem auto;
  text-align:center;
}
