footer{
    width:95%;
    height:3.75rem;
    background-color:#111e14;
    position: absolute;
    bottom:0;
    padding: 1rem 2.5% 0 2.5%;
    z-index:6;
    font-size:0.8rem;
    color:#d2d3d5;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;;
}

footer section{
  margin-top:0;
}

.authorship {
  margin-top:0.2rem;
  text-align: center;
}

.contacts {
  width:12.2rem;
}
.contacts a{
  text-align:center;
}

.contacts img {
  height:1.25rem;
  width:auto;
}

.contacts h6 {
  color:#FFF;
  width: 100%;
  margin-bottom: 0.3rem;
  text-align: right;
  display: none;
}

@media only screen and (min-width:1023px) {
  footer{
    flex-direction:row;
  }

  .authorship {
    margin-top: 0.5rem;
    margin-left: 0;
    text-align: left;
  }

  .contacts {
    margin-right: 0;
  }

  .contacts h6 {
    display: block;
  }

  .contacts a {
    text-align:right;
  }
}
