form{
    text-align: center;
    margin: auto;
    width: 100%;
}

fieldset{
  text-align: left;
  margin: 0 auto;
  display: table;
  border:none;
}

input{
    border: solid 0.125rem;
    border-color: #111e14;
    margin-top: 0.625rem;
    margin-bottom: 1.25rem;
    width: 100%;
    height: 1.5rem;
}

input[type=submit], input[type=button], button{
  color: #FFF;
  background-color: #111e14;
  border: none;
  border-color: #111e14;
  border-radius: 0.7rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: auto;
  height: auto;
}

input[type=submit]:hover, input[type=button]:hover, button:hover{
  color: #111e14;
  background-color: #87c665;
  cursor: pointer;
}

input[type=file] {
  border: none;
}

input[type=radio] {
  margin-right: 0.2rem;
}

button{
  margin-top: 0.625rem;
}

textarea{
    border: solid 0.125rem;
    border-color: #111e14;
    margin-top: 0.625rem;
    margin-bottom: 1.25rem;
    width: 100%;
}

select{
  -webkit-appearance: none;  /* Remove estilo padrão do Chrome */
  -moz-appearance: none; /* Remove estilo padrão do FireFox */
  appearance: none; /* Remove estilo padrão do FireFox*/
  background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-appearance.gif) no-repeat #EEE;
  background-position: 100%;
  border: solid 0.125rem;
  border-color: #111e14;
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
  width: 20rem;
  height: 2rem;
}

.check-table table{
  /*background-color: #87c665;*/
/* background: -moz-linear-gradient(right, #87c665, 60%) repeat-X;*/
  background: -webkit-gradient(linear, left top, right top, from(#87c665), to(#B7E39F)) repeat-X;
  border-radius: 0.5rem;
  text-align: center;
  padding: 0.2rem;
  font-size: 1rem;
  width:auto;
  max-width:18rem;
}

.check-table tr,
.check-table td {
  border:none;
}
.check-table td, th, input[type=checkbox]{
  margin: 0;
  padding: 0.5rem ;
}

input[type=radio]{
  vertical-align: -2px;
  width: auto;
  height: auto;
}

input[type=image] {
  width: auto;
  height: auto;
  border:none;
  padding: 0.2rem;
  border-radius:0.5rem;
  margin:0;
}

input[type=image]:hover {
  background-color:#111F1E;
}

.double_column {
  -webkit-column-gap:6.875rem;
  -moz-column-gap:6.875rem;
  column-gap:6.875rem;
  -webkit-column-count:2;
  -moz-column-count:2;
  column-count:2;
}
