/*Estilização Header*/
#header{
    width:100%;
    height:5rem;
    background-color:#111e14;
    display:block;
    position:absolute;
    top:0;
    z-index: 5;
}
#logo{
    height:5rem;
    width: auto;
    float:left;
}

.anchor_menu {
  float:right;
  margin-top: 1.5rem;
  margin-right: 1.5rem;
  cursor:pointer;
}
.anchor_menu div{
  width: 2.5rem;
  border: solid #FFF 0.2rem;
  border-radius:1rem;
  margin-bottom: 0.5rem;
}

.menu{
  display: table;
  position:absolute;
  right: 0;
  top: 0;
  margin: 0;
  padding-top: 5rem;
  border-bottom-left-radius: 1rem;
  background: #1c3121;
  z-index:4;
  height:auto;
  overflow:hidden;
}

.menu a,
.dropdown {
  float:left;
  clear: both;
}
.menu a,
.menu a:visited,
.menu button {
  border:solid 0.1rem #1c3121;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: inherit !important;
  color: #FFF;
  font-family: 'eightone';
  font-size: 1.625rem;
  outline: none;
  margin:0.5rem 1rem;
}

.menu a:hover,
.menu button:hover {
    color: #3dde1e;
}

.menu {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  -ms-transition: all .25s linear;
  transition: all .25s linear;
}

.menu-open {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.dropdown {
  width: 100%;
}

.dropdown-content {
  background: #2f5137;
  width: 100%;
  padding-left: 2rem;
  max-height:0;
  overflow: hidden;
  box-shadow: 0.2rem 0.2rem 1rem #000;
  transition: max-height 1s ease-in-out;
  -webkit-transition: max-height 1s ease-in-out;
}

.dropdown-content a,
.dropdown-content a:visited,
.dropdown-content a:focus{
  background-color: inherit;
  padding: 0.5rem;
  margin: 0;
  border:none;
  font-size: 1.4rem;
}

.show {
  max-height: 50rem;
}

.selected_drop button {
  color: #3dde1e;
}

@media only screen and (min-width:1160px) {
  .anchor_menu {
    display: none;
  }

  .menu{
    overflow: visible;
    float:right;
    margin-top:1rem;
    padding-top: 0;
    z-index: 7;
    height:auto;
    background:#111e14;
    border-bottom-left-radius:0;

    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .menu a,
  .menu a:visited,
  .menu .dropdown button,
  .dropdown {
    float:none;
    clear: none;
    display: inline-block;
    width: auto;
  }

  .menu a,
  .menu a:visited,
  .menu button {
    margin: 0 1rem 0 0;
    border:solid 0.1rem #111e14;
  }

  .dropdown-content a{
    border:none;
  }

  .menu a:hover,
  .menu button:hover {
    border:solid 0.1rem #fff;
    color: #fff;
  }

  .dropdown-content {
    position: absolute;
    background-color: #111e14;
    width: auto;
    padding: 0.5rem;
    box-shadow: 0 0 0 #111e14;
    border-radius: 0.5rem;
    box-sizing: border-box;
  }

  .dropdown-content a,
  .dropdown-content a:visited,
  .dropdown-content a:focus {
    font-size: 1.2rem;
    float: left;
    clear: both;
  }

  .dropdown-content a:hover{
    border:none;
    color: #3dde1e;
  }

  .selected_drop button {
    color:#fff;
  }
}
