/*Estilização Header*/
#header{
    width:100%;
    height:5rem;
    background-color:#111e14;
    display:block;
    position:absolute;
    top:0;
    z-index: 5;
}
#logo{
    height:5rem;
    width: auto;
    float:left;
}

.anchor_menu {
  float:right;
  margin-top: 1.5rem;
  margin-right: 1.5rem;
  cursor:pointer;
}
.anchor_menu div{
  width: 2.5rem;
  border: solid #FFF 0.2rem;
  border-radius:1rem;
  margin-bottom: 0.5rem;
}

.menu{
  display: table;
  position: fixed;
  right: 0;
  top: 0rem;
  margin: 5rem 0;
  height: 100%;
  background: #1c3121;
}

.menu a,
.dropdown {
  float:left;
  clear: both;
  -webkit-transition: all .5s linear;
  -moz-transition: all .5s linear;
  -ms-transition: all .5s linear;
  transition: all .5s linear;
}
.menu a,
.menu a:visited,
.menu button {
  border:solid 0.1rem #1c3121;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: inherit !important;
  color: #FFF;
  font-family: 'eightone';
  font-size: 1.625rem;
  outline: none;
  margin:0.5rem 1rem;
}

.menu a:hover,
.menu button:hover {
  border-color:#FFF;
  color:#FFF;
  outline: none;
}

.menu {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  -ms-transition: all .25s linear;
  transition: all .25s linear;
}

.menu-open {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.dropdown {
  width: 100%;
}

.dropdown-content {
  background: #2f5137;
  width: 100%;
  padding-left: 2rem;
  max-height:0;
  overflow: hidden;
  box-shadow: 0.2rem 0.2rem 1rem #000;
  transition: max-height 1s ease-in-out;
  -webkit-transition: max-height 1s ease-in-out;
}

.dropdown a {
  font-size: 1.4rem;
  border:none;
}

.show {
  max-height: 50rem;
}

.selected_drop button {
  color: #3dde1e;
}
