/*Estilização Header*/
#header{
    width:100%;
    height:5rem;
    background-color:#111e14;
    display:block;
    position:absolute;
    top:0;
    z-index: 5;
}
#logo{
    height:5rem;
    width: auto;
    float:left;
}

#header nav{
  display:none;
}

.anchor_menu {
  float:right;
  margin-top: 1.5rem;
  margin-right: 1.5rem;
}
.anchor_menu div{
  width: 2.5rem;
  border: solid #FFF 0.2rem;
  border-radius:1rem;
  margin-bottom: 0.5rem;
}
