#organization_chart {
  margin:auto;
  width: 100%;
}

.memberContact,
.advisors {
  flex:1;
  display: inline-block;
  text-align: center;
  padding: 0 0.2rem;
  margin-top: 0;
}

.advisors {
  margin-top:1.875rem;
}

.memberContact div {
  width:9.375rem;
  height:9.375rem;
  border-radius: 4.6875rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin:auto;
  margin-bottom:1.875rem;
}

.memberContact p,
.advisors p {
  text-align: center;
}

.memberContact .email{
  font-size: 0.8rem;
}

#team {
  width:43.75rem;
  height:25rem;
  margin:3.125rem auto;
  border:solid;
}
