#main_project {
  display: table;
  margin-bottom: 4.375rem;
}

#main_project figure{
  width: 31.25rem;
  height: 25rem;
  float:left;
  margin-right:3.125rem;
  overflow:hidden;
}

.project_banner {
  width: 100%;
  margin-bottom:3.125rem;
}
.project_banner figure {
  width: 30%;
  height: 100%;
  float:left;
  margin-right:6.25rem;
  overflow:hidden;
}

.project_banner img {
  width: 15.625rem;
  height: 12.5rem;
}

.project_banner div {
  width: 57%;
}
