#main_project {
  display: table;
  margin-bottom: 3.75rem;
}

#main_project figure{
  width: 100%;
  max-width: 31.25rem;
  max-height: 25rem;
  margin:auto;
  margin-bottom: 2.5rem;
  overflow:hidden;
}

.project_banner {
  width: 100%;
  margin-bottom:3.125rem;
  display: flex;
  flex-direction: column;
}

.project_banner figure {
  margin:auto;
  margin-bottom: 1.875rem;
  overflow:hidden;
  margin-top: 0;
}

.project_banner img {
  width: 15.625rem;
  height: 12.5rem;
}

@media only screen and (min-width:800px) {

  .project_banner {
    flex-direction: row;
  }
  .project_banner figure {
    flex:2;
  }
  .project_banner div {
    flex:3;
    padding-left:6.25rem;
  }
}

@media only screen and (min-width:900px) {

  #main_project {
    margin-bottom: 4.375rem;
  }

  #main_project figure{
    float:left;
    margin-right:3.125rem;
    margin-bottom:0;
  }
}
