.publication header {
  font-size: 0.8rem;
  color: #3D3D3D;
  text-align: left;
  margin-bottom: 1.25rem;
}
.publication h2{
  font-family: 'helvetica-light', 'Swis721 LtEx BT', 'Verdana', 'Century Gothic', 'Square721 BT', 'sans-serif';
  font-size: 1.875rem;
}

.publication img{
  width: 18.75;
  max-width: 300px;
  display: block;
  float:left;
  margin-right: 4rem;
  margin-bottom: 2rem;
}
.publication address{
  font-size: 0.8rem;
  color: #3D3D3D;
  text-align: left;
  margin-bottom: 1.25rem;
  font-style: italic;
}
