.process figure,
.process img {
  width: 100%;
  max-width: 23rem;
  margin:auto;
}

.process figure {
  margin-bottom:3.75rem;
}

.process {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#short_content p {
  text-align: justify;
}

#short_content ul {
  padding: 0;
  margin-top: 1rem;
  text-align: left;
}

#short_content h5 {
  margin-top: 2rem;
}

@media only screen and (min-width:617px) {
  #short_content ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media only screen and (min-width:700px) {

  .process {
    flex-direction: row;
  }

  .process figure {
    margin-bottom:0;
    width: 90%;
  }

  #short_content p {
    text-align: center;
  }
}

@media only screen and (min-width:1180px) {
  .process figure {
    width: 100%;
  }
}
