#video {
  width:53.375rem;
  height:26.25rem;
  margin: 3.75rem auto;
  border:solid;
}

#short_content header {
  margin-bottom: 1.25rem;
  font-size: 0.8rem;
  color: #3D3D3D;
  text-align:left;
}

#short_content header h2{
  font-family: 'helvetica-light', 'Swis721 LtEx BT', 'Verdana', 'Century Gothic', 'Square721 BT', 'sans-serif';
  font-size: 1.875rem;
  margin-bottom: 0;
}

article {
  max-width:41.625rem;
  margin: 3rem auto;
}

#short_content {
  max-width: 500px;
  width:100%;
  margin:auto;
}

p {
  text-indent:0;
  text-align:center;
}
