* {
  margin: 0;
  padding: 0;
}

html,body {
   margin:0;
   padding:0;
   height:100%;
   width:100%;
   font-family: 'helvetica-light', 'Swis721 LtEx BT', 'Verdana', 'Century Gothic', 'Square721 BT', 'sans-serif';
}

a,
a:visited {
  color: #000;
  text-decoration:none;
  outline: none;
  cursor: pointer;
}
a:hover,
a:active {
  color:#268712;
}

figure{
    margin:0;
    padding:0;
}
h1, h2, h3, h4, h5, h6{
    color: #000;
    font-family: 'eightone', 'helvetica-light', 'Swis721 LtEx BT', 'Verdana', 'Century Gothic', 'Square721 BT', 'sans-serif';
    text-align: left;
    font-weight: 400;
    display:block;
}
h1 {
    font-size:2.5rem;
    margin-top:3.125rem;
    margin-bottom: 2rem;
    text-align: center;
}
h2 {
    font-size:1.8rem;
    margin-bottom: 1rem;
}
h3 {
  font-size:1.875rem;
  color: #87C665;
  padding-bottom:1.375rem;
}
h4 {
  font-size:1.5625rem;
  color: #111E14;
}
h5{
  font-size:1.5rem;
  color:#87c665;
  font-weight:bold;
  margin-bottom:0.5rem;
}
h6{
  font-size:1rem;
}
hr{
  margin: 1rem auto;
}
img{
    max-width:100%;
    height:auto;
}
p{
    font-family: 'helvetica-light', 'Arial', 'Verdana', 'Trebuchet MS', 'sans-serif';
    text-align: justify;
    text-justify: inter-word;
    display: block;
    color: #111F1E;
    padding: 0.5rem 0;
}
span{
    margin:0;
    padding: 0;
}
section{
  display: table;
  margin: auto;
}

/*Estilizacao Geral de Tabelas*/
table {
  width: 100%;
  max-width:60rem;
  border-collapse:collapse;
  margin:auto;
}
th {
  color: #87C665;
}
tr {
  font-size: 0.8rem;
}
tr.title {
  font-weight:bold;
  font-size:1rem;
}
td{
  padding:0.8rem;
}
table p {
  padding: 0;
}

ul {
  list-style:none;
  padding-left:0.7rem;
}
/*Fim da Estilizacao da Tabelas*/

/*Estilização do Conteúdo*/
main{
    width: 84%;
    max-width:1366px;
    text-align:center;
    background-color:#fff;
    display:table;
    padding-top: 2rem;
    padding-bottom: 10rem;
    padding-left: 8%;
    padding-right: 8%;
}

article {
  margin-bottom:2rem;
}

iframe {
  width: 100%;
  border:none;
  height: 800px;
}

#container{
    width:100%;
    height:100%;
    background-color:#fff;
    display: table;
    position: relative;
    overflow: hidden;
}

#page_title {
  margin-top:5.125rem; /*2rem + medida desejada*/
  margin-bottom:2rem;
  width: 100%;
  text-align: left;
}

#page_title > div {
  display: flex;
}

#page_title h1{
  margin:0;
  text-align: left;
  font-size:2rem;
}

#page_title figure{
  padding-left:1.25rem;
  height:100%;
  width:auto;
  display: none;
}

#page_title img {
  margin:0;
  height: 1rem;
  width: 4rem;
  max-width: 131px;
  padding-top:0.5rem;
}

#page_title p {
  margin-top: 1.875rem;
}

.left {
  float:left;
}
.right {
  float:right;
}

.padding_left {
  padding-left: 2rem;
}
.padding_right {
  padding-right: 2rem;
}

.center {
  text-align:center;
}

.icon {
  max-height: 1.5rem;
}

.border {
  border:solid;
}
.banner_three {
  width: 30%;
}

.max_width {
  width:100%;
}

.flex {
  display:flex;
}

.set_flex {
  flex:1;
}

.flex_colunm {
  flex-direction: column;
}

.dispaly_table {
  display: table;
}

.green_font {
  color:#87c665;
}

.list {
  text-align: left;
}
/*
.list li{
  padding: 0.1rem;
}*/

#img_error img{
  width: 100%;
  max-width:530px;
  margin-top: 5rem;
}

/*Facebook Plugins*/
.facebook {
  z-index:0;
}
#fb-root {
  display: none;
}
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
  width: 100% !important;
}


@media only screen and (min-width:480px){

  #page_title h1 {
    font-size: 2.5rem;
  }

  #page_title img {
    height:auto;
    width: 6.4rem;
    padding-top:0.6rem;
  }

  h2 {
    font-size: 2rem;
  }

}
@media only screen and (min-width:600px){

  #page_title {
    margin-top:8.25rem;
    margin-bottom: 3.75rem;
  }

  #page_title h1 {
    font-size: 3.125rem;
  }

  #page_title img{
    padding-top: 0.8rem;
    width: 9rem;
  }

  #page_title p {
    font-style: italic;
    margin-top:-0.8rem;
  }

  h1 {
      font-size:3.125rem;
      margin-top:6.25rem;
      text-align: left;
  }

}

@media only screen and (min-width:827px) {
    #page_title figure {
      display: block;
    }
}


@media only screen and (min-width:1100px){

  main{
      width: 64%;
      padding-left: 18%;
      padding-right: 18%;
      display: table;
  }
}

@font-face{
 font-family: 'eightone';
 src: url('font/eightone.ttf') format('truetype');
}
.eightone-font{
 font-family: 'eightone', 'helvetica-light', 'Swis721 LtEx BT', 'Verdana', 'Century Gothic', 'Square721 BT', 'sans-serif';
}

@font-face{
 font-family: 'helvetica-light';
 src: url('font/helvetica_light.ttf') format('truetype');
}
.light-font{
 font-family:  'helvetica-light', 'Arial', 'Verdana', 'Trebuchet MS', 'sans-serif';
}
