#wellcomeUser {
  float:left;
  width:13rem;
  height: 3rem;
  margin:1rem 0 0 3rem;
}

#wellcomeUser figure {
  width:2.1857rem;
  height:auto;
  float:left;
  margin: 0.4rem 0.5rem 0 0;
}
#wellcomeUser p,
#wellcomeUser a,
#wellcomeUser a:focus,
#wellcomeUser a:visited,
#wellcomeUser a:active {
  color: #fff;
}

#wellcomeUser a:hover {
  color: #3dde1e;
}

#user_img{
  height:20em;
  width: 20rem;
  overflow:hidden;
  margin:auto;
  border-radius:10rem;
  clear: both;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

select {
  width: 100%;
}

form {
  margin-top:6.25rem;
}
table{
  text-align: left;
  width: 50rem;
}
th h2{
  color: #87C665;
  text-align: center;
}