#wellcomeUser {
  float:left;
  width:15rem;
  height: 3rem;
  margin:1rem 0 0 3rem;
  z-index: 1000;
  position: absolute;
  top:0;
  left:14rem;
  visibility: hidden;
}

#wellcomeUser figure {
  width:2.1857rem;
  height:2.1857rem;
  float:left;
  margin: 0.4rem 0.5rem 0 0;
  border-radius:50%;
  overflow: hidden;
  text-align: center;
}
#wellcomeUser p,
#wellcomeUser a,
#wellcomeUser a:focus,
#wellcomeUser a:visited,
#wellcomeUser a:active {
  color: #fff;
}

#wellcomeUser a:hover {
  color: #3dde1e;
}

#user_img{
  height:20em;
  width: 20rem;
  overflow:hidden;
  margin:auto;
  border-radius:10rem;
  clear: both;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

select {
  width: 100%;
}

form {
  margin-top:6.25rem;
}

table{
  text-align: left;
}

th h3{
  font-size:1.2rem;
  text-align: center;
}

#user_table .col_1{
  width: 60%;
}

#user_table .col_2 {
  width: 20%;
}

h1 {
  padding-top: 2rem;
}

@media only screen and (min-width:600px) {
  #wellcomeUser{
    visibility: visible;
  }

  #logout {
    display: none;
  }

  th h3{
    font-size:1.875rem;
  }
}
